{% extends "base.html" %}

{% block content %}

    {% if is_empty %}
        <p>Votre panier est vide.</p>
    {% else %}
        {% for order in orders %}
            <div class="cart-item">
                <h2>{{ order.product.name }}</h2>
                <img src="{{ order.product.thumbnail.url }}" alt="{{ order.product.name }}" class="product-image-cart">
                <p>Quantité : {{ order.quantity }}</p>
                <div class="cart-item-actions">
                    <!-- Bouton pour augmenter la quantité -->
                    <a href="{% url 'increase_quantity' order.id %}">+</a>

                    <!-- Bouton pour diminuer la quantité -->
                    <a href="{% url 'decrease_quantity' order.id %}">-</a>

                    <!-- Bouton pour supprimer l'article -->
                    <a href="{% url 'remove_from_cart' order.id %}">Supprimer</a>
                </div>
            </div>
        {% endfor %}

        <!-- Bouton Passer la commande -->
        <div class="checkout-button">
            <a href="{% url 'checkout' %}" class="btn btn-primary">Passer la commande</a>
        </div>
    {% endif %}

{% endblock content %}
