{% extends "base.html" %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}

<!-- Début de la barre de filtres -->

<form id="filter-form" method="get" action="{% url 'index' %}">
    <div class="filter-bar">
        {% if selected_category %}
            <input type="hidden" name="category" value="{{ selected_category }}">
        {% endif %}
        <div class="filter-option">
            <label for="price">Trier par :</label>
            <select id="price" name="sort_order">
                <option value="ascending" {% if sort_order == "ascending" %}selected{% endif %}>Prix croissants</option>
                <option value="descending" {% if sort_order == "descending" %}selected{% endif %}>Prix décroissants</option>
                <option value="alphabetic" {% if sort_order == "alphabetic" %}selected{% endif %}>A-Z</option>
                <option value="non-alphabetic" {% if sort_order == "non-alphabetic" %}selected{% endif %}>Z-A</option>
            </select>
        </div>
        <div class="filter-option">
            <label for="price-min">Prix min :</label>
            <input type="number" id="price-min" name="price_min" value="{{ min_price }}">
        </div>
        <div class="filter-option">
            <label for="price-max">Prix max :</label>
            <input type="number" id="price-max" name="price_max" value="{{ max_price }}">
        </div>
        <div class="filter-option">
            <label>Matériaux :</label>
            <div class="checkbox-group">
                <input type="checkbox" id="perle" name="material" value="Perles" {% if "Perles" in selected_materials %} checked {% endif %}>
                <label for="perle">Perles</label>

                <input type="checkbox" id="gold" name="material" value="Or" {% if "Or" in selected_materials %} checked {% endif %}>
                <label for="gold">Or</label>

                <!-- Menu déroulant pour la couleur de l'or -->
                <div id="gold-color-select" style="display: none;">
                    <label for="gold_color">Couleur de l'or :</label>
                    <select id="gold_color" name="gold_color">
                        <option value="tous" {% if gold_color == "tous" %}selected{% endif %}>Tous</option>
                        <option value="jaune" {% if gold_color == "jaune" %}selected{% endif %}>Or Jaune</option>
                        <option value="blanc" {% if gold_color == "blanc" %}selected{% endif %}>Or Blanc</option>
                        <option value="rose" {% if gold_color == "rose" %}selected{% endif %}>Or Rose</option>
                    </select>
                </div>

                <input type="checkbox" id="silver" name="material" value="Argent" {% if "Argent" in selected_materials %} checked {% endif %}>
                <label for="silver">Argent</label>

                <input type="checkbox" id="platinum" name="material" value="Platine" {% if "Platine" in selected_materials %} checked {% endif %}>
                <label for="platinum">Platine</label>

                <input type="checkbox" id="steel" name="material" value="Acier" {% if "Acier" in selected_materials %} checked {% endif %}>
                <label for="steel">Acier</label>

                <input type="checkbox" id="rubis" name="material" value="Rubis" {% if "Rubis" in selected_materials %} checked {% endif %}>
                <label for="rubis">Rubis</label>

                <input type="checkbox" id="saphir" name="material" value="Saphir" {% if "Saphir" in selected_materials %} checked {% endif %}>
                <label for="saphir">Saphir</label>

                <input type="checkbox" id="emeraude" name="material" value="Emeraude" {% if "Emeraude" in selected_materials %} checked {% endif %}>
                <label for="emeraude">Emeraude</label>

                <input type="checkbox" id="diamant" name="material" value="Diamant" {% if "Diamant" in selected_materials %} checked {% endif %}>
                <label for="diamant">Diamant</label>
            </div>
        </div>
    </div>
    <!-- Fin de la barre de filtres -->
</form>

<script>
    document.getElementById('filter-form').addEventListener('change', function() {
        this.submit();
    });

    document.getElementById('gold').addEventListener('change', function() {
        var goldColorSelect = document.getElementById('gold-color-select');
        if (this.checked) {
            goldColorSelect.style.display = 'block';
        } else {
            goldColorSelect.style.display = 'none';
        }
    });

    // Si "Or" est déjà sélectionné au chargement de la page
    window.onload = function() {
        var goldCheckbox = document.getElementById('gold');
        var goldColorSelect = document.getElementById('gold-color-select');
        if (goldCheckbox.checked) {
            goldColorSelect.style.display = 'block';
        }
    };
</script>

<!-- Produits -->
<div class="products-grid">
    {% for product in products %}
        <div class="product-container">
            <a href="{% url 'product' product.slug %}">
                <h2>{{ product.name }}</h2>
                <img src="{{ product.thumbnail.url }}" alt="{{ product.name }}" class="product-image">
            </a>
            <h3>{{ product.price }}€</h3>
        </div>
    {% endfor %}
</div>

{% endblock %}
