{% extends "base.html" %}

{% block content %}

<h2>Inscription</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="username">Nom d'utilisateur:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div>
            <label for="firstname">Prénom:</label>
            <input type="text" id="firstname" name="firstname" required>
        </div>
        <div>
            <label for="lastname">Nom:</label>
            <input type="text" id="lastname" name="lastname" required>
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">S'inscrire</button>
    </form>

{% endblock %}