/* Style général de la barre de navigation */
.navbar {
    background-color: #333; /* Couleur de fond */
    color: #fff; /* Couleur du texte */
    height: 50px; /* Hauteur de la barre de navigation */
    display: flex; /* Utilise flexbox pour l'alignement */
    justify-content: space-between; /* Espacement entre les éléments */
    align-items: center; /* Centre les éléments verticalement */
    padding: 0 20px; /* Padding sur les côtés */
}

/* Style du titre dans la barre de navigation */
.navbar h1 {
    margin: 0; /* Supprime la marge par défaut du h1 */
    font-size: 1.5rem; /* Taille de la police du h1 */
}

/* Styles pour les sections gauche, droite et titre de la barre de navigation */
.nav-left, .nav-title, .nav-right {
    display: flex;
    align-items: center;
}

/* Assure que le titre est centré et prend l'espace disponible */
.nav-title {
    justify-content: center;
    flex-grow: 1;
}

/* Styles pour les liens dans la section gauche (et éventuellement droite) */
.nav-left a, .nav-right a {
    color: #fff; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement */
    font-size: 1rem; /* Taille de la police des liens */
}

/* Ajoute un espace supplémentaire spécifiquement au bouton 'Inscription' */
.nav-left a[href*='signup'] {
    margin-right: 20px; /* Ajoute 20px de marge à droite */
}

/* Modifie les liens pour qu'ils deviennent gras au survol */
.nav-left a:hover, .nav-right a:hover {
    font-weight: bold; /* Rend le texte gras */
}

/* Styles pour les liens de la barre de navigation en général */
.navbar a, .navbar a:visited {
    color: #fff; /* Couleur du texte des liens */
    text-decoration: none; /* Supprime le soulignement */
}
