<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <meta charset="UTF-8">
    <title>Glimmer</title>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Barre de navigation principale -->
    <nav class="main-nav">
        <div class="logo">
            <a href="{% url 'index' %}">GLIMMER</a>
        </div>
        <ul class="nav-links">
            <li><a href="{% url 'index' %}?category=bracelets">Bracelets</a></li>
            <li><a href="{% url 'index' %}?category=colliers">Colliers</a></li>
            <li><a href="{% url 'index' %}?category=boucles-d-oreilles">Boucles d'oreilles</a></li>
            <li><a href="{% url 'index' %}?category=bagues">Bagues</a></li>
        </ul>
        <div class="nav-actions">
            <form method="get" action="{% url 'index' %}" class="search-form">
                <input type="text" name="search" placeholder="Rechercher" value="{{ search_query }}">
            </form>
            <a href="{% url 'cart' %}" class="icon">
                <i class="fas fa-shopping-cart"></i>
            </a>
            <a href="{% url 'compte' %}" class="icon">
                <i class="fas fa-user"></i>
            </a>
        </div>
    </nav>

    {% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>
